
<div class="sidebar-box ftco-animate">
    <h3>Etiket Bulutu</h3>
    <div class="tagcloud">
        <a href="#" class="tag-cloud-link">dish</a>
        <a href="#" class="tag-cloud-link">menu</a>
        <a href="#" class="tag-cloud-link">food</a>
        <a href="#" class="tag-cloud-link">sweet</a>
        <a href="#" class="tag-cloud-link">tasty</a>
        <a href="#" class="tag-cloud-link">delicious</a>
        <a href="#" class="tag-cloud-link">desserts</a>
        <a href="#" class="tag-cloud-link">drinks</a>
    </div>
</div>
