@model List<GetBlogListDto>

<div class="col-xl-6">
	<div class="card">
		<div class="card-body">

			<h4 class="card-title">Paylaşılan Son 5 Blog</h4>
			<p class="card-subtitle mb-4 font-size-13">
				Yazarlarımız tarafından paylaşılan son 5 güncel bloğumuz
			</p>

			<div class="table-responsive">
				<table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
					<thead>
						<tr>
							<th class="border-top-0">Blog Başlığı</th>
							<th class="border-top-0">Yazar</th>
							<th class="border-top-0">Bloğu Aç</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="text-truncate">@item.Title</td>
								<td class="text-truncate">@item.AuthorName</td>
								<td class="text-truncate"><a href="/Blog/BlogDetails/@item.BlogId/" class="btn btn-primary">Bloğu Aç</a></td>
							</tr>
						}


					</tbody>
				</table>
			</div>

		</div> <!-- end card-body-->
	</div> <!-- end card-->
</div>