@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponent")
<body>
	@await Component.InvokeAsync("_NavbarComponent")	
	@await Component.InvokeAsync("_EasyWayComponent")
	@await Component.InvokeAsync("_MakeYourTripComponent")
	@await Component.InvokeAsync("_GetLast5CarComponent")
	@await Component.InvokeAsync("_AboutUsComponent")
	@await Component.InvokeAsync("_OurServiceComponent")
	@await Component.InvokeAsync("_BecomeADriverComponent")
	@await Component.InvokeAsync("_TestimonialComponent")
	@await Component.InvokeAsync("_GetLast3BlogComponent")
	@await Component.InvokeAsync("_StatisticComponent")
	@await Component.InvokeAsync("_FooterComponent")
	@await Component.InvokeAsync("_LoaderComponent")
	@await Component.InvokeAsync("_ScriptComponent")
</body>
</html>